* {
  font-family: "Roboto", sans-serif;
}
body {
  background: url("background.png") no-repeat;
  font-family: "Roboto", sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  margin-top: 0px;
  padding: 0;
}
li {
  text-decoration: none;
  float: left;
}

li a {
  font-size: 18px;
  font-weight: bold;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 99;
  transition: 0.8ms ease-in;
}
li a:hover {
  color: black;
}
nav {
  margin-top: 50px;
  margin-left: 185px;
}
.banner-message {
  margin-top: 100px;
  margin-left: 200px;
  font-size: x-large;
  color: white;
  line-height: 50px;
}
.banner-message h1 {
  font-size: 70px;
}
.banner-message-button {
  border: none;
  font-weight: bold;
  color: white;
  overflow: hidden;
  padding: 0;
  text-transform: uppercase;
  width: 280px;
  height: 50px;
  background-color: #e94043;
  border-radius: 3px;
  font-size: 15px;
  transition: 100ms ease-in;
  -webkit-font-smoothing: antialiased;
}

.banner-message-button::before {
  background: #e73f42;
}

.banner-message-button:hover {
  background-color: #fc4f52;
  transform: translateY(-1px);
  cursor: pointer;
}
